@import '_vars';
@import '_global';
@import '_fonts';


// ------------ Header ------------- //

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header__text {
    margin-left: auto;
    margin-right: 30px;
    span {
       color: $red;
    }
}

.header__btn {
    padding: 8px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
}

.header__btn-login{
    background-color:   $green;
}
.header__btn-registr{
    background-color:   $red;
    margin-left: 7px;
}


.header__menu {
    background-color: $black;
    
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;

}

.menu__list {
    li{
        display: inline-block;
        &+li{
            margin-left: 50px;
        } 
    }
    a {
         color: #fff;
         font-size: 14px;
    }
}

// ------------ Header End ------------- //

// ------------ Search ------------- //
.search {
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.search__inner {
    padding: 200px 0;
    text-align: center;
    color: #fff;
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input {
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(71, 30, 39, 0.25);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            font-weight: 400;
            outline: none;
            padding-left: 25px;
            padding-right: 60px;
            &:focus{
                border: 1px solid rgb(151, 122, 126);
            }
            &::placeholder{
                color: #90a4ae
            }
        }
        button {
            position: absolute;
            border: none;
            background-color: transparent;
            right: 15px;
            top: 15px;
        }
        
    }
}

.search__inner-title {
    font-size: 48px;
    line-height: 56px;
    font-weight: 900;
    margin-bottom: 30px;
}

.search__inner-text {
    margin-bottom: 50px;
}

// ------------ Search End ------------- //

// ------------ Products ------------- //

.products {
    padding: 100px 0;
    background-color: $lightgray
}

.products__inner-btn {
    text-align: center;
    margin-bottom: 60px;
    height: 38px;
    button{
        padding: 12px 20px;
        border: none;
        background-color: #fff;
        color: $black;
        cursor: pointer
    }
}

.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__item{
    max-width: 442px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 25px;
    &-img {
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
        
    }
    &-content {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name {
        max-width: 310px;
    }
    &-title {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        color: $black;
        display: block;
        margin-bottom: 10px;
    }
    &-category {
        display: block;
        color: $green;
    }
    &-price {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        color: $black;
    }
    &-info {
        display: flex;
        justify-content: space-between;
        padding: 20px 30px;
        align-items: center;
    }
    &-author{
        display: flex;
        align-items: center;
        .avatar{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 15px;
        }
        span {
            font-size: 14px;
            font-weight: 500;  
        }
        
    }
}








// ------------ Products End------------- //